:root {
  --dark-color1: #2d2b3e;
  --dark-color2: #292738;
  --dark-color3: #2b242b;
  --dark-color4: #212529;
}

.bg-dark-1,
body,
.sticky-header.fixed-header,
.page-wrapper,
.work-block-three .inner-box,
.map-info-block .inner-box,
.skills-section .bg:before,
.pricing-block .inner-box,
.pricing-block .inner-box .icon,
.service-block-two .inner-box .content-box,
.header-style-one .header-lower .main-box,
.testimonial-section .slider-outer:before {
  background-color: var(--dark-color1);
}

.bg-dark-light,
.why-choose-home2:before {
  background-color: var(--dark-color1);
  opacity: 0.9;
}

.bg-dark-2,
.choose-block .inner-box,
.services-section-two .bg:before,
.testimonial-block-two .inner-box .content,
.testimonial-section-two .slider-outer:before,
.work-block-two .inner-box .content,
.service-block .inner-box:hover::before,
.process-block .inner-box .icon-box,
.work-section,
.testimonial-block .inner-box,
.newsletter-form-two .form-group input[type=email] {
  background-color: var(--dark-color2);
}

.counter-block-two .inner-box .counter-one {
  -webkit-text-stroke: 2px var(--theme-color1);
}

.bg-dark-3 {
  background-color: var(--dark-color3);
}

.bg-dark-4,
.service-block-three .inner-box,
.about-section-three .image-column .inner-column .exp-box,
.team-block .inner-box,
.map-info-block .inner-box .content-box .icon,
.service-block .inner-box::before,
.faqs-section .accordion-box .accordion.block {
  background-color: var(--dark-color4);
}

.header-style-two .header-lower .logo-box:after {
  border-top-color: var(--dark-color4);
}

.subscribe-section .outer-box:before {
  border-color: var(--dark-color4);
}

.btn-style-three {
  background-color: #000;
}

.process-block .inner-box::before,
.service-block .inner-box {
  border-color: var(--dark-color1);
}

.main-menu .navigation > li > a,
.main-menu .navigation > li.current > a,
strong,
.title a,
.sec-title h2,
.header-style-one .header-lower .main-box .outer-box .mobile-nav-toggler,
.service-block-three .inner-box .title,
.about-block-three .inner-box .title,
.counter-block-two .inner-box .counter-text,
.team-block .content .name,
.team-block .inner-box .content .phone-no,
.choose-block .inner-box .title,
.map-info-block .inner-box .content-box .icon,
.map-info-block .inner-box .content-box .text,
.call-to-action .outer-box .title,
.sticky-header .mobile-nav-toggler,
.about-section-two .content-column .inner-column .author-box .author-info .name,
.about-block-two .inner-box .title,
.contact-section .sec-title-outer .contact-box .contact-no,
.testimonial-block-two .inner-box .content .name,
.work-block-two .inner-box .content .text,
.work-block-two .inner-box .content .name,
.service-block-two .inner-box .image-box .title,
.about-block .inner-box .title,
.process-block .inner-box .content-box .title,
.process-section .btn-box .contact-btn,
.testimonial-block .inner-box .content .name,
.accordion-box .block .acc-btn {
  color: var(--theme-color-light) !important;
}

.text-lights,
p,
.text,
.feature-block .inner-box .count,
.team-block .content .designation,
.map-info-block .inner-box .content-box .phone-no,
.call-to-action .outer-box .text,
.about-section-two .content-column .inner-column .author-box .author-info .designation,
.contact-section .sec-title-outer .contact-box p,
.testimonial-block-two .inner-box .content .text,
.work-block-two .inner-box .content .date,
.list-style-three li,
.testimonial-block .inner-box .content .text,
.accordion-box .block .acc-content .content .text {
  color: rgba(255, 255, 255, 0.6);
}

.bg-dark-text-light,
.service-block-three .inner-box .read-more,
.banner-carousel .owl-nav .owl-next,
.banner-carousel .owl-nav .owl-prev,
.contact-tabs .tab-btns .tab-btn,
.pricing-tab .tab-btns .tab-btn,
.service-block-two .inner-box .image-box .title-box,
.service-block-two .inner-box .content-box .read-more {
  background-color: var(--theme-color-dark);
  color: var(--theme-color-light);
}

.range-slider-one .ui-widget-content .ui-state-default {
  background-color: var(--theme-color-dark);
}

/*	Border Color */
.border-color,
.service-block-three .inner-box,
.client-block .image,
.choose-block .inner-box,
.map-info-block .inner-box .content-box .icon,
.work-block-two .inner-box .content .date,
.service-block-two .inner-box .content-box .read-more,
.contact-form .form-group input:not([type=submit]),
.contact-form .form-group textarea,
.contact-form .form-group select {
  border-color: #2c2a2a;
}

.work-block-two .inner-box .content .date {
  border-color: rgba(255, 255, 255, 0.5);
}

.bg-border-color,
.team-block .inner-box:before {
  background-color: #2c2a2a;
}

.service-block-three .inner-box .bg-line,
.team-section .bg,
.choose-block .inner-box .bg-line,
.about-section-two .icon-dots,
.process-section .bg,
.faqs-section .bg.bg-image {
  opacity: 0.02;
}

.work-section-two .icon-map {
  opacity: 0.1;
}

.bg-unset,
.client-block .image {
  background-color: unset;
}

.bg-pattern-1 {
  background-image: unset;
}

.banner-section .overlay-shape {
  background-image: url(../images/banner/overlay-shape-dark.html);
}

.client-block .image {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.clients-section .slide-item a:hover {
  background-color: inherit;
}

.contact-form .form-group textarea {
  background-color: #0a090f;
}
.contact-form .form-group input:not([type=submit]) {
  background-color: #0a090f;
}

.about-section-three .image-column .inner-column .spin {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.about-section .content-column .inner-column .auther-box .sign img,
.about-section-two .content-column .inner-column .author-box .sign img {
  -webkit-filter: invert(1);
          filter: invert(1);
}